/*======================================================================================================================
STYLES
======================================================================================================================*/
/* Globals */
@font-face {
    font-family: 'Archivo';
    font-weight: 300;
    src: url('./fonts/archivo-300.woff2') format('woff2');
}

@font-face {
    font-family: 'Archivo';
    font-weight: 500;
    src: url('./fonts/archivo-500.woff2') format('woff2');
}

html, body {
    height: 100%; 
    margin: 0;
    font-family: 'Archivo';
    font-weight: 300;
}

.container {
    max-width: none !important;
}

/* Navbar */
.navbar {
    font-family: 'Archivo';
    font-weight: 300;
    height: 10.89vh;
    position: relative;
}

.navbar-collapse {
    z-index: 1050;
}

.navbar-toggler {
    z-index: 1050; 
}

.nav-links-container {
    gap: 60px;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.1rem !important;
}

@media (max-width: 992px) {
    .navbar-collapse {
        background-color: white;
        position: absolute;
        top: 100%; 
        left: 0;
        width: 100%;
    }
    .nav-items-container {
        text-align: center;
        justify-items: center;
        padding-top: 10px; 
        padding-bottom: 10px;
    }
    .nav-links-container {
        gap: 20px;
    }
    .cart-icon {
        padding-top: 28px;
        padding-bottom: 28px;
    }
}

/* Hero section */
.hero-content {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    overflow: hidden;
}

.hero-content img {
    width: 100%;
    height: auto;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
}

.text-overlay h1 {
    font-family: 'Archivo';
    font-weight: 500;
    font-size: 50px;
}

.text-overlay p {
    font-family: 'Archivo';
    font-weight: 300;
    font-size: 12px;
}

/* Collection section */
.item-list-container {
    text-align: -webkit-center;
    margin: 60px 30px !important;
}

.card-tag {
    font-family: 'Archivo';
    font-weight: 500;
    font-size: 12px;
}

.card-title {
    font-family: 'Archivo';
    font-size: 14px;
    font-weight: 300;
}

.card-text {
    font-size: 14px;
}

.item-link {
    text-decoration: none; 
    color: inherit; 
}

.card-title:hover {
    text-decoration: underline; 
    color: #000; 
}

.item-link:focus,
.item-link:visited {
    text-decoration: none; 
    color: inherit; 
}

.all-products a {
    text-decoration: none;
    color: inherit; 
}

.all-products a:hover {
    text-decoration: underline;
    color: #ffffff; 
}

.all-products a:focus,
.all-products a:visited {
    text-decoration: none; 
    color: inherit;
}

@media (max-width: 768px) {
    .item-list-container {
        margin: 20px 8px 0px 8px !important;
    }
}

/* Footer */
.footer-container {
    padding: 42px !important;
    gap: 100px;
}

.categories-list {
    gap: 30px;
}

.categories-list a {
    font-family: 'Archivo';
    font-weight: 300;
    font-size: 14px;
}

.trademark {
    font-size: 10px;
}

@media (max-width: 768px) {
    .footer-container {
        gap: 40px;
    }
    .footer-categories {
        gap: 100px;
    }
    .footer-container {
        padding: 30px 20px !important;
    }
}   

/* Product Page */
.container {
    margin-left: 30px !important;
    margin-right: 30px !important;
}

.product-page .row {
    padding-left: 30px;
    padding-right: 30px;
    margin: 0px;
}

.carousel-control-prev, .carousel-control-next {
    display: none !important;
}

.carousel-indicators [data-bs-target]  {
    background-color: #131313 !important;
}

.product-page .col-md-4 img {
    padding-bottom: 30px;
}

.product-info {
    padding-top: 30px;
}

.name-price {
    margin-top: 16px;
}

.product-info .tag {
    color: #BBBBBB;
    font-family: 'Archivo';
    font-weight: 500;
    font-size: 12px;
}

.product-info .title {
    font-family: 'Archivo';
    font-weight: 500;
    font-size: 24px;
    margin: 0px;
}

.product-info .price {
    font-family: 'Archivo';
    font-weight: 500;
    font-size: 20px;
}

.collapsible-section {
    margin-top: 40px;
    gap: 20px;
}

.collapsible-section p {
    margin: 0px;
}

.aditional-info {
    font-family: 'Archivo';
    font-weight: 500;
    font-size: 12px;
}

.plus {
    font-family: 'Archivo';
    font-weight: 500;
    font-size: 16px;
}

.content p {
    font-family: 'Archivo';
    font-weight: 300;
    font-size: 14px;
    text-align: start;
}

@media (max-width: 768px) {
    .carousel-container {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
    .product-info {
        padding-top: 0px;
    }
    .product-page .row {
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 30px;
        margin: 0px;
    }
} 

/* Counter */
.count-container {
    gap: 40px;
    margin-top: 40px;
}

.units-count {
    gap: 10px;
}
.units-text {
    font-family: 'Archivo';
    font-weight: 300;
    font-size: 10px;
}

.count-selectors {
    gap: 10px;
}

.count-button {
    width: 26px;
    height: 26px;
    border: 0.5px solid black;
}

.count-button button span {
    font-family: 'Archivo';
    font-weight: 500;
    font-size: 16px;
    line-height: 13.06px;
    padding: 6px;
}

span.amount {
    font-family: 'Archivo';
    font-weight: 500;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.add-to-cart {
    font-family: 'Archivo';
    font-weight: 500;
    background-color: black;
    font-size: 12px!important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cart-added {
    font-family: 'Archivo';
    font-weight: 500;
    font-size: 12px;
}

.out-of-stock {
    background-color: gainsboro;
}

.purchase-options {
    margin-top: 40px;
    gap: 15px;
}

/* Empty Cart */
.empty-cart-container {
    margin-top: 200px;
    margin-bottom: 200px;
}

.empty-cart-info {
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 40px;
    max-width: 350px;
}

.text-cart-empty {
    font-family: 'Archivo';
    font-weight: 500;
    font-size: 16px;
}

.text-cart-empty-button {
    font-size: 12px;
    padding: 10px 144px !important;
}

@media (max-width: 768px) {
    .empty-cart-container {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}    

/* Cart */
.cart-list {
    margin: 20px 30px !important;
}
.cart-item-info {
    margin-top: 10px;
}

.cart-item-info p {
    font-family: 'Archivo';
    font-weight: 300;
    font-size: 14px;
    margin: 0px !important;
}

.remove-button {
    background-color: hsla(0,0%,100%,.8);
    padding: 0px;
    right: 12px;
    top: 12px;
}

.remove-button span {
    padding: 8px;
    color: #131313;
}

.order-detail {
    font-family: 'Archivo';
    font-weight: 300;
    font-size: 14px;
    margin: 0px !important;
    gap: 40px;
}

.order-detail p {
    margin: 0px;
}

.order-info {
    gap: 20px;
}

.total {
    font-family: 'Archivo';
    font-weight: 500;
    font-size: 16px;
}

.taxes {
    font-size: 10px;
}

.order-buttons {
    gap: 10px;
}

.order-button {
    font-weight: 500 !important;
    font-size: 12px !important;
}

.extra-info {
    gap: 20px;
}

@media (max-width: 768px) {
    .order-detail {
        margin: 60px 0px 30px !important;
    }
    .cart-list {
        margin-left: 8px !important;
        margin-right: 8px !important;
    }
}    

/* Loader */
.loader {
    margin-top: 200px;
    margin-bottom: 200px;
}

#hero-section .loader {
    margin-top: 100px;
    margin-bottom: 58px;
}


@media (max-width: 768px) {
    .loader {
        margin-top: 120px;
        margin-bottom: 120px;
    }
    #hero-section .loader {
        margin-top: 80px;
        margin-bottom: 50px;
    }
}

/* Form */
.checkout-form {
    width: fit-content;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 58px;
}

.form-title {
    font-family: 'Archivo';
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 20px;
} 

.form-text,
.form-code {
    font-family: 'Archivo';
    font-weight: 300;
    font-size: 14px;
} 


.form-text {
    margin: 0px 0px 40px 0px !important;
} 

.form-title,
.form-text,
.form-code {
    text-align: center;
    color: #000000 !important;
} 

.form-control {
    border-radius: 0.5px !important;
    margin: 0px 0px 20px 0px;
    border: 0.5px solid #000000 !important;
    padding: 12px 10px !important;
}  

.form-validate {
   margin-top: -20px !important;
} 

.form-control::placeholder {
    font-family: 'Archivo' !important;
    font-size: 14px !important;
    font-weight: 300 !important;
    color: #BBBBBB !important;
}  

.btn-form {
    margin-top: 20px;
    padding: 10px 153px !important;
    border-radius: 0px !important;
    font-family: 'Archivo' !important;
    font-size: 12px !important;
    font-weight: 500 !important;
}

@media (max-width: 768px) {
    .btn-form {
        padding: 10px !important;
    }    
    .checkout-form {
        margin-bottom: 30px;
    }
}

/* Successfull order  */
.success-order {
    margin-bottom: 188px !important;
    width: fit-content;
    margin: auto;
}

.success-order-text {
    margin-top: 30px;
    margin-bottom: 80px;
}

.success-order-icon {
    padding: 26px 16px;
}

.success-order-button {
    margin: auto !important;
}

@media (max-width: 768px) {
    .success-order {
        margin-bottom: 88px;
        margin-left: 20px;
        margin-right: 20px;
    }
}
